<h1>All categories</h1>
<ul>
  #foreach ($category in $categories)
    <li><a href="/categories/$category.getId()">$category.getName()</a></li>
  #end
</ul>
<a href="/categories/new"><button type="submit" class="btn btn-success">Add New Category</button></a>
